<li>
    <a href="#"><i class="fa fa-graduation-cap fa-fw"></i> Kandidat<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="...">..</a>
        </li>
    </ul>
</li>
