
<li>
    <a href="#"><i class="fa fa-wrench fa-fw"></i> Administrator sistema<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="#"> Korisnick nalog <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li>
                    <a href="~/AdministratorSistema/KorisnickiNalog/Prikazi">Create</a>
                </li>
            </ul>
        </li>
    </ul>
</li>